/*---Media Queries --*/
@media (min-width: 1397px) {
   .service-div {
      border: 2px solid var(--color-2);
      height: 350px;
  }
  .service-img{
    height: 200px;
  }
  .service-marketing-banner-img{
   position: absolute;
   bottom: 100px;
   width: 40%;
 }
}
@media (max-width: 992px) {

}
@media(max-width: 768px){
 .menu-footer-img{
    margin-left: 0px;
 }
 .combo-header h1 {
    font-size: 3rem;
 }
 .combo-text {
    padding-left: 0px;
 }
 .combo-header h3 {
    margin-right: 0px;
 }
 .about-backgroud-img{
   position: relative;
 }
 .about-section p {
   width: 100%;
   padding-bottom: 0px;
   }
   .package-container{
      height: 500px;
   }
   .service-banner-img{
      position: relative;
        bottom: 20px;
        width: 100%;
        right: 0.5px;
    }
    .service-mobile-banner{
        width: 100%;
        bottom: 0px;
    }
    .service-softwear-banner-img{
      position: relative;
      top:200px;
      width: 100%;
      right: -200px;
    }
    .service-it-banner-img{
      position: relative;;
      width: 100%;
    }
    .service-industries-banner-img{
      position: relative;
      top: 0px;
      width: 100%;
    }
    .service-marketing-banner-img{
      position: relative;
      top: 0px;
      width: 100%;
    }
    .services-amazon-banner-img{
      margin: auto;
    }
    .service-banner-text{
      margin: 15rem 0rem 2rem 2rem;
    }
    .service-right-title {
      margin-top: 20px;
      width: 100%;
    }
    .service-banner-text h1 {
      font-size: 3rem;
  }
  .banner-text-page1 {
    margin: 10rem 5rem;
  }
  .page-1{
    margin-top: 0rem;
  }
  .page-1-text {
    margin: 0px;
  }
  .page-1 h1 {
    margin-top: 3rem;
  }
  .page1-margin-top{
    margin-top: 0px;
  }
  .banner-text-page1 h1{
    font-size: 4rem;
  }
  .bc-circle-line{
    display: none;
  }
}
@media (max-width: 576px) {
   .combo-header h1 {
      font-size: 2rem;
  }
  .industries .card {
   height: auto;
  }
  .banner-text-page1 h1{
    font-size: 2rem;
  }
  .banner-text-page1 {
    margin: 7rem 0rem;
  }
  .pack-container{
    width: 100%;
  }
}
@media (max-width: 390px) {
   .service-banner-text h1 {
      font-size: 2rem;
  }
  .service-lef-description h3 {
   font-size: 1.3rem;
  }
  .banner-text-page1 h1{
    font-size: 1.2rem;
  }
  .combo-header {
    padding: 10px 5px;
    margin: 10px auto;
  }
  .combo-header h3 {
    text-align: center;
  }
  .combo-text {
    text-align: center;
  }
}