:root {
    --font-p: 'Poppins', sans-serif;
    --color-b: #000;
    --color-2: #FFC312;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: var(--font-p);
    font-size: 16px;
    overflow-x: visible;
}

body {
    overflow-x: hidden;
}

header {
    font-family: var(--font-p);
}

.menu {
    position: absolute;
    background-color: transparent;
    padding-top: 50px;
    top: 0px;
    right: 0px;
    left: 0px;
}

.text-right {
    text-align: right;
}

.text-yello {
    color: var(--color-2) !important;
}

.header-text {
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.float-right {
    float: right;
}

.btn-menu {
    float: right;
    background-color: var(--color-2);
    color: #fff;
    font-size: 20px;
}

.btn-menu:hover {
    background-color: #fff;
    color: var(--color-2);
}

.bg-color2 {
    background: var(--color-2);
}

.bg-block {
    background-color: #000;
    ;
}

.banner-text {
    margin: 12rem 4rem;
    color: #fff;
    font-family: var(--font-p);
    text-transform: uppercase;
}

.banner-text h1 {
    font-weight: 600;
    font-size: 4rem;
    line-height: 0.8;
}

.logo {
    width: 150px;
}

.menu-footer-img {
    margin-top: -50px;
    margin-left: 80px;
}

.menu-logo {
    width: 100px;
}

.cart-icon {
    text-align: right;
    float: right;
    margin-right: 2.5rem;
    font-size: 2rem;
}
.cart-icon i {
    color: var(--color-2);
}
.cart-icon .cart-count {
    font-size: 0.8rem;
}

.menu-logo1 {
    width: 150px;
    position: absolute;
    margin-left: 200px;
    margin-top: -50px;
}

.unstyle-list {
    list-style: none;
}

.nav-div {
    background-color: var(--color-2);
    padding: 20px 0px;
    position: absolute;
    top: -5000px;
    right: 0px;
    left: 0px;
    z-index: 1000;
    transition: all 0.3s;

}

.nav-div ul {
    list-style: none;
}

.nav-div ul a {
    color: var(--color-b);
    font-family: var(--font-p);
    font-size: 16px;
    text-decoration: none;
}

.text-nav {
    margin-top: 30px;
    font-weight: 600;
}

.btn-close {
    float: right;
    background-color: #fff;
    margin: 0px 30px;
}

.banner-img1 {
    height: 100%;
}

.banner-img {
    z-index: -10;
    top: 0px;
}

.about-section {
    /* background: url('../imges/about-section.png');
  background-repeat: no-repeat;
  background-size: cover; */
    position: relative;
    border-top: 1px solid var(--color-2);
    padding-bottom: 30px;
}

.about-backgroud-img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
}

.about-header-text {
    margin-top: 80px;
    font-size: 4rem;
    font-weight: 600;
    color: #000;
}

.about-section h3 {
    font-weight: 600;
    color: var(--color-2);
    margin-top: 50px;
}

.about-section p {
    width: 400px;
    padding-bottom: 150px;
    text-align: justify;
}

/* Serverse section  */
.service-section {
    margin-top: 3rem;
}

.service-section h3 {
    color: var(--color-2);
    font-size: 2rem;
    font-weight: 800;
}

.service-div1 {
    padding: 2.5rem;
    font-size: 1.125rem;
    height: 100%;

}

.service-div1 img {
    margin-top: 3rem;

}

.service-div {
    border: 2px solid var(--color-2);

    height: 300px;
}

.service-div h4 {
    margin-top: 3rem;
    text-align: center;
    font-family: var(--font-p);
    font-weight: 600;
    font-size: 1.2rem;
}

.margin-nav-top-20 {
    margin-top: -20px;
}

.service-img {
    height: 150px;
    padding: 40px;
}

/* service 1  */
.service-section-1 {
    margin-top: 5rem;
    /* background-color: var(--color-2); */
    padding: 2rem 0px;

}

.service-1-text {
    border: 4px solid #fff;
    padding: 20px;
    margin-top: -25px;
}

.service-1-text h1 {
    font-family: var(--font-p);
    font-weight: 600;
    color: var(--color-2);
}

/* Service product */
.service-product {
    margin-top: 5rem;
}

.service-product h1 {
    color: var(--color-2);
    font-weight: 800;
    font-size: 5rem;
}

.service-product h2 {
    font-weight: 800;
    font-size: 4rem;
    color: white;
}

.service-product-area {
    background-color: var(--color-2);
}

.service-product-area h3 {
    padding: 2rem;
    font-weight: 600;
    color: #000;
}

/* package */
.packages {
    margin-top: 5rem;
}

.packages h1 {
    color: var(--color-2);
    font-weight: 600;
}

.packages h3 {
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
}

.package-container {
    height: auto;
    margin-top: 3rem;
    border: 1px solid var(--color-2);
    border-radius: 20px;
    padding-bottom: 2rem;
}

.package-header {
    background-color: #000;
    text-align: center;
    padding: 30px;
    color: #fff;
    border-radius: 20px 20px 0px 0px;
    font-weight: 700;
}

.package-header2 {
    background: var(--color-2);
    text-align: center;
    padding: 10px;
    font-weight: 600;
    color: #000;
}

.package-body {
    padding: 20px;
    font-size: 0.8rem;
    color: white;
}

/* combo */
.combo {
    margin-top: 5rem;
}

.combo-header {
    background-color: var(--color-2);
    padding: 10px 20px;
    margin: 20px 0px;
    border-radius: 20px;
    width: max-content;
    color: black;
}

.combo-header h1 {
    font-weight: 800;
    font-size: 3.5rem;
    margin-right: 3rem;
}

.combo-header h3 {
    font-weight: 600;
    margin-right: 1rem;

}

.combo-text {
    padding-left: 3rem;
    color: white;
}

.price-container {
    margin: 5rem 0px 2rem 0px;
    font-size: 2rem;
    font-weight: 600;
    float: right;
    transform: rotate(337deg);
    line-height: 1;
    color: white;
}

.price-lable {
    color: var(--color-2);
    font-size: 3rem;
    font-weight: 800;
}

/* Contact Us */
.contact-us {
    margin-top: 5rem;
    background-color: var(--color-2);
    padding: 2rem;
}

.contact-us h1 {
    font-weight: 800;
    font-size: 4.5rem;
    text-align: center;
    font-style: italic;
    color: black;
}

.contact-container {
    background: #eee;
    padding: 3rem;
    border-radius: 30px;
}

.contact-control {
    border-radius: 30px;
    border: none;
}

.contact-group-text {
    background-color: #eee;
    font-size: 2rem;
    border: none;
    border-radius: 30px;
}

.contact-img {
    width: 130%;
    margin-left: -6rem;
    margin-top: 9rem !important;
}

.bnt-send {
    float: right;
    background-color: var(--color-b);
    color: var(--color-2);
    padding: 5px 20px;
    border-radius: 30px;
    font-style: italic;
}

.bnt-send:focus, .bnt-send:hover, .bnt-send:active {
    background-color: var(--color-b);
    color: var(--color-2);
}

.contact-us-padding {
    margin-bottom: -15rem;
}

.padding-footer {
    padding-top: 15rem;
    background-color: #000;
}

footer {
    background: url(assets/imges/footer.png);
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 5rem 0px;
    color: #fff;
}

.logo-footer {
    width: 150px;
}

.logo-footer-b {
    width: 100px;
    float: right;
}

.footer-header {
    color: var(--color-2);
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 2rem;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer ul {
    list-style: none;
}

footer ul a {
    color: #fff;
    font-family: var(--font-p);
    font-size: 14px;
    text-decoration: none;
}

footer ul a:hover {
    color: var(--color-2);
}

.footer-bar {
    padding: 1rem;
    background-color: var(--color-2);
    color: black;
    text-align: center;
    font-weight: 600;
}

.footer-social-icon {
    word-spacing: 15px;
    font-size: 20px;
}

/* service pages */
.service {
    background-color: #000;
    color: var(--color-2);
    text-align: center;
    margin: 00px;
    padding: 5rem;

}

.service h1 {
    line-height: 1.5;
    font-family: var(--font-p);
    font-weight: 600;
    font-size: 3.5rem;
}

/* about-us */
.about-us img {
    height: 100%;
}

.about-us-text {
    margin: 8rem 2rem;
    color: #fff;
    padding: 30px;
}

.about-us-text ul {
    list-style: none;
}

.about-us-text ul li::before {
    content: "\2022";
    color: var(--color-2);
    font-weight: bold;
    display: inline-block;
    width: 1em;
}

/* Service of all  */
.service-banner {
    background-image: url('../imges/back-ground-service.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -10;
}

.service-banner-text {
    font-family: var(--font-p);
    margin: 15rem 0rem 15rem 5rem;
    color: #fff;
    font-size: 20px;
}

.service-banner-text h1 {
    font-family: var(--color-b);
    font-size: 4rem;
    font-weight: 800;
    color: var(--color-2);
}

.service-banner-img {
    position: absolute;
    bottom: 20px;
    width: 50%;
    right: 0.5px;
}

.service-mobile-banner {
    width: 40%;
    bottom: 0px;
}

.service-softwear-banner-img {
    position: absolute;
    top: 200px;
    width: 50%;
    right: -200px;
}

.service-it-banner-img {
    position: absolute;
    width: 50%;
}

.service-industries-banner-img {
    position: absolute;
    top: 130px;
    width: 45%;
}

.service-marketing-banner-img {
    position: absolute;
    bottom: 300px;
    width: 45%;
}

.services-amazon-banner-img {
    margin-top: 13rem;
}

.service-description {
    padding: 5rem 0px;
}

.service-description h1 {
    text-align: center;
    color: var(--color-2);
    font-size: 2.8rem;
    font-weight: 800;
}

.service-description h2 {
    color: var(--color-2);
    font-size: 2.5rem;
    font-weight: 800;

}

.service-description p {
    color: white;

}

.service-lef-description {
    padding: 2rem;
    background-color: rgb(66, 53, 20);
    border-radius: 30px;
}

.service-lef-description h3 {
    color: var(--color-2);
    font-size: 2.1rem;
    font-weight: 800;

}

.service-lef-description p {
    color: #fff;
    margin: 4rem 0px 2rem 0px;
    font-size: 14px;
}

.service-right-description {
    font-size: 14px;
    padding-left: 2rem;
}

.service-right-title {
    width: 400px;
}

.service-right-title p {
    padding-left: 20px;
}

.service-right-title h2 {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--color-2);
    font-style: italic;
}

/* industries */
.industries {
    margin: 5rem 0px;

}

.industries .card {
    height: 420px;
    background: var(--color-2);
    border: 1px solid var(--color-2);
    border-radius: 10px;
    padding: 20px 0px;
    transition: all 0.3s;

}

.industries .card:hover {
    background-color: #fff;
    transition: all 0.3s;
}

.industries .card-img-top {
    width: 100px;
    margin: auto;
}

.industries .card-title {
    text-align: center;
    font-weight: 600;
    color: #000;
}

.work-tab {
    margin: auto;
    text-align: center;
    margin: 3rem 0px;
}

.btn-work-tab-p, .btn-work-tab {
    margin: 0px 10px;
    font-weight: 600;
    font-size: 24px;
    border-radius: 12px;
}

.btn-work-tab-p, .btn-work-tab {
    font-size: 18px;
    color: white;
}

.btn:focus {
    box-shadow: none;
    outline: none;
    border: none;
}

.btn-work-tab-p .btn-work-tab:focus {
    box-shadow: none;
    outline: none;
}

.btn-work-tab-p:hover, .btn-work-tab:hover {
    color: var(--color-2);
}

.work-tab-active {
    background-color: var(--color-2);
    color: var(--color-b);
}

.work-tab-active:hover {
    color: var(--color-b);
}

.marketing-img .card {
    border: none;
    border-radius: 20px;
}

.marketing-2 .card {
    border: none;
}

.card-tab {
    padding: 0.5rem;
    text-align: center;
    border-radius: 20px;
    transition: all 0.3s;
    margin: 12px
}

@media (max-width: 768px) {
    .card-tab h5 {
        font-size: 0.6rem;
    }
}

.card p {
    color: black;
}

.card-tab:hover {
    background-color: var(--color-2);
    transition: all 0.3s;
}

.card-tab .card-title {
    margin-top: 1rem;
}

.card-tab .card-top-img img {
    width: 9rem;
}

.marketing-details {
    padding: 2rem;
    background-color: white;
    border-radius: 1rem;
}

.marketing-details .row .col-md-4 {
    display: flex !important;
}

.marketing-details .card {
    font-size: 14px;
    text-align: center;
}

.marketing-details .card-img-top {
    width: 100px;
    height: 100px;
    text-align: center;
    margin: auto;
}

.marketing-details .card-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.banner-protfolio {
    margin-top: 5rem;
    padding: 20px;
}

.banner-page1 {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    left: 0px;
    z-index: -10;
}

.banner-text-page1 {
    margin: 15rem 10rem;
}

.banner-text-page1 h1 {

    color: #000;
    font-family: var(--font-p);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 5rem;
    line-height: 0.8;
    line-height: 1;
}

.banner-text-page-1-2 {
    padding-left: 6rem;
}

.page-1 {
    margin-top: 15rem;
}

.page-1-text {
    margin: 7rem 2rem;
    font-size: 1.3rem;
    text-align: justify;
    color: white;
}

.page-1 h1 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-2);
    font-style: italic;
}

.page1-margin-top {
    margin-top: 4rem;
}

.page1-descrioption {
    padding: 0rem 3rem;
    color: white;
}

.bg-img {
    clear: both;
    margin: 5rem 0px 0px 0px;
    background-image: url('../imges/contact-background.optimised.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    padding: 15rem 0px;
    color: #fff;
    font-weight: 600;
}

.bg-img h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1;
}

.contact-us-page {
    margin-top: 18rem;
}

.contact-us-page h1 {
    text-align: center;
    color: var(--color-2);
    font-size: 4rem;
    font-weight: 700;
}

.contact-us-page .form-control {
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid white;
    background-color: #000;
}

.contact-us-page .form-control:focus {
    box-shadow: none;
}

.form-check-label {
    font-size: 12px;
    color: white;
}

.form-check {
    margin-top: 10rem;
    border-top: 1px solid white;
}

.btn-contact {
    color: var(--color-2);
    text-decoration: underline;
    font-size: 20px;
}

.btn-contact:hover {
    color: white;
}

.bc-circle-line {
    display: block;
    background: var(--color-2);
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 4px;
    height: 100% !important;
    margin: 4% 0px;
}

.pack-container {
    width: 500px;
    text-align: left;
}

.pack-container h1 {
    font-size: 1.4rem;
    background: var(--color-2);
    color: black;
    text-align: left;
    padding: 10px 10px;
    width: max-content;
    border-radius: 10px;
}

.bg-warning {
    background-color: var(--color-2) !important;
}
.fa-stack[data-count]:after{
    position:absolute;
    right:0%;
    top:0%;
    content: attr(data-count);
    font-size:40%;
    padding:.6em;
    border-radius:999px;
    line-height:.75em;
    color: white;
    color:var(--color-2);
    text-align:center;
    min-width:2em;
    font-weight:bold;
    background: white;
    border-style:solid;
  }
  .fa-circle {
    color:var(--color-2);
  }
  .user-icon {
    color:var(--color-2);
    text-align: right;
     float: right; 
     font-size:3.2rem;
     text-decoration: none;
     line-height: 5px;
  }
  .user-icon:hover, .user-icon:focus {
    color:var(--color-2);
  }

  .fa-stack {
    text-align: right;
    float: right;
    margin-right: 1rem;
  }
  